@using global::HorseFarm.DomainModel

@if (Pasture is null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var horse in Pasture.HorseList)
    {
        <HorseComponent Horse="horse" HorseDragDrop="@HorseDragDrop" />
    }
}

@code {

    [Parameter]
    public IPasture Pasture { get; set; } = default!;

    [Parameter]
    public HorseDragDrop HorseDragDrop { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        HorseDragDrop.OnDrop += (s, e) => StateHasChanged();
    }
}
